.designer-system-menu-export {
    display: none!important;
}
.designer-schema-menu-export {
    display: none!important;
}
.designer-model-menu-export {
    display: none!important;
}
.designer-type-menu-export {
    display: none!important;
}
.designer-component-menu-export {
    display: none!important;
}
.designer-behavior-menu-export {
    display: none!important;
}

#designer-dialog-config-client-type-debugging {
    display: none!important;
}
#designer-dialog-config-client-form {
    display: none!important;
}
#designer-dialog-config-server-form {
    display: none!important;
}

body,
.navbar-fixed-top,
.navbar-fixed-bottom {
  min-width: 720px!important;
}

html {
  background-color: transparent!important;  
}

body {
  background-color: transparent!important;
}

#designer-dialog-import-modal-from-file-input {
  display: none;
}

#designer-dialog-import-modal-from-file-form {
  display: none;
}

span.glyphicon.glyphicon-menu-left {
    color:#337ab7!important;
}