/app/
/addons/
/extensions/
/src/
/tasks/
/test/
/coverage/
/bower_components/
/.vscode/
bower.json
Gruntfile.js
.travis.yml
.vscode
.jshintrc
.travis.yml
.npmignore
.gitignore
.DS_Store
package-lock.json