/app/
/addons/
/examples/
/extensions/
/src/
/tasks/
/test/
/coverage/
/reports/
/specs/
/.vscode/
Gruntfile.js
.travis.yml
.vscode
.jshintrc
.travis.yml
.npmignore
.gitignore
.prettierrc
.DS_Store
.github
package-lock.json
cypress.json