<div class="modal fade" id="designer-dialog-export-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-xs-offset-2 col-sm-3 control-label">Format</label>
                        <div class="col-xs-offset-0 col-sm-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optradio" id="designer-dialog-export-json" checked>JSON</label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optradio" id="designer-dialog-export-html">HTML</label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optradio" id="designer-dialog-export-node">Node.js</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="designer-dialog-export-options">
                            <label class="col-xs-offset-2 col-sm-3 control-label">Options</label>
                            <div class="col-xs-offset-0 col-sm-6">
                                <label class="checkbox-inline">
                                <input type="checkbox" value="master" id="designer-dialog-export-isMaster"/>Master
                            </label>
                            </div>
                            <div id="designer-dialog-export-options-sub-system">
                                <label class="col-xs-offset-2 col-sm-3 control-label"></label>
                                <div class="col-xs-offset-0 col-sm-6">
                                    <label class="checkbox-inline">        
                                <input type="checkbox" value="subsystem" id="designer-dialog-export-isSubsystem"/>Sub-system
                            </label>
                                </div>
                            </div>
                        </div>
                        <div id="designer-dialog-export-options-log-level">
                            <label class="col-xs-offset-2 col-sm-3 control-label">Logs</label>
                            <div class="col-xs-offset-0 col-sm-6">
                                <select id="designer-dialog-export-options-log-level-select" name="log-level" class="form-control">
                                <option value="debug">debug level</option>
                                <option value="info" selected>info level</option>
                                <option value="warn">warning level</option>
                                <option value="error">error level</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="designer-dialog-export-modal-cancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="designer-dialog-export-modal-ok">OK</button>
            </div>
        </div>
    </div>
</div>