<div class="modal fade" id="designer-dialog-welcome-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    System Designer will help you to create applications driven by the model. To begin have a look on our
                    <a href="https://system-designer.readme.io/docs/quick-start" target="_blank">Quick Start</a> page or
                    at this quick video:
                    <br>
                    <br>
                    <div style="text-align: center;">
                        <video width="640" height="360" controls="controls" style="max-width:100%;height:auto;">
                            <source src="video/systemdesigner.mp4" type="video/mp4">
                        </video>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="designer-dialog-welcome-modal-ok">OK</button>
            </div>
        </div>
    </div>
</div>