<div class="modal fade" id="designer-dialog-model-creation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <p style="text-align:justify">You can not directly create a model.</p>
                            <p style="text-align:justify">To create a model, you have to create a schema and then a model will be generated based on your schema definition.</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="designer-dialog-model-creation-modal-ok">OK</button>
            </div>
        </div>
    </div>
</div>