<div class="modal fade" id="designer-dialog-runtimecomponent-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-lg-offset-1 col-lg-10">
                            <p style="text-align:justify">By default all your models inherit from <i>RuntimeComponent</i>. It adds to your models a set of APIs to:</p>
                            <p style="text-align:justify">- <b>manage</b> your components,</p>
                            <p style="text-align:justify">- <b>add/remove listeners</b> to components events and</p>
                            <p style="text-align:justify">- <b>require</b> components.</p>
                            <p style="text-align:justify">You can remove this inheritance for your needs.</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="designer-dialog-runtimecomponent-info-modal-ok">OK</button>
            </div>
        </div>
    </div>
</div>