<div class="modal fade" id="designer-dialog-config-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group" id="designer-dialog-config-client-type-debugging">
                        <label class="col-xs-offset-0 col-xs-3 control-label">Type of debugging</label>
                        <div class="col-xs-offset-0 col-xs-8">
                            <div class="radio">
                                <label><input type="radio" name="debug-type" id="designer-dialog-config-radio-client" value="client">Client-side</label>
                            </div>
                            <div class="radio"><label><input type="radio" name="debug-type" id="designer-dialog-config-radio-server" value="server">Server-side</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="designer-dialog-config-client-form">
                        <label class="col-xs-offset-0 col-xs-3 control-label">Url of the page to debug</label>
                        <div class="col-xs-offset-0 col-xs-8">
                            <input type="text" class="form-control" placeholder="http://server-name/page-name" id="designer-dialog-config-url-client">
                        </div>
                    </div>
                    <div class="form-group" id="designer-dialog-config-server-form">
                        <label class="col-xs-offset-0 col-xs-3 control-label">Url of the server to debug</label>
                        <div class="col-xs-offset-0 col-xs-8">
                            <input type="text" class="form-control" placeholder="http://localhost" id="designer-dialog-config-url-server">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-offset-0 col-xs-3 control-label">Github token</label>
                        <div class="col-xs-offset-0 col-xs-8">
                            <input class="form-control" placeholder="your personal access token" type="password" id="designer-dialog-config-github-token">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-xs-offset-0 col-xs-3 control-label">Github repository</label>
                        <div class="col-xs-offset-0 col-xs-8">
                            <input class="form-control" placeholder="user/repository" type="text" id="designer-dialog-config-github-repository">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="designer-dialog-config-modal-cancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="designer-dialog-config-modal-ok">OK</button>
            </div>
        </div>
    </div>
</div>