<div class="modal fade" id="designer-dialog-search-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-xs-offset-1 col-xs-10">
                            <div class="input-group">
                                <span class="input-group-addon">Search for</span>
                                <input type="text" class="form-control" placeholder="something" id="designer-dialog-input-search">
                                <span class="input-group-addon" id="designer-dialog-option">
                                    <input type="checkbox" id="designer-dialog-checkbox-search">  in content
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-1 col-xs-10 result-search">
                            <div id="designer-dialog-search-result" class="list-group"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="designer-dialog-search-modal-ok">OK</button>
            </div>
        </div>
    </div>
</div>