<div class="modal fade" id="designer-dialog-sync-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-xs-offset-0 col-xs-3 control-label">Command</label>
                        <div class="col-xs-offset-0 col-xs-8">
                            <div class="radio">
                                <label><input type="radio" name="sync-type" id="designer-dialog-sync-commit" value="commit" checked>Push</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="sync-type" id="designer-dialog-sync-refresh" value="refresh">Synchronize</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="designer-dialog-sync-comments-area">
                        <label class="col-xs-offset-0 col-xs-3 control-label">Comments</label>
                        <div class="col-xs-offset-0 col-xs-8">
                            <textarea class="form-control" placeholder="put comments here" rows="3" id="designer-dialog-sync-comments"></textarea>
                        </div>
                    </div>
                    <div class="form-group" id="designer-dialog-sync-options-area">
                        <label class="col-xs-offset-0 col-xs-3 control-label">Options</label>
                        <div class="col-xs-offset-0 col-xs-8">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="htmlPages" id="designer-dialog-type-creation-hasHTML">Create related <i>HTML</i> file
                            </label>
                        </div>
                        <label class="col-xs-offset-0 col-xs-3 control-label"></label>
                        <div class="col-xs-offset-0 col-xs-8">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="htmlPages" id="designer-dialog-type-creation-hasPackage">Create related <i>package.json</i> file
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="designer-dialog-sync-modal-cancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="designer-dialog-sync-modal-ok" ">OK</button>
            </div>
        </div>
    </div>
</div>