<!DOCTYPE html>
<html>

<head>
    <title>{{name}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- runtime -->
    <script>
    {{library}}
    </script>
    <!-- system -->
    <script>
    runtime.on('ready', function () {
        var systemId = this.install({{system}}, false);
            system = this.require(systemId) ;
        
        this.require('logger').level('debug');

        system.main();
        system.start();
    }, false, true);
    </script>
</body>

</html>