<!DOCTYPE html>
<html>

<head>
    <title>{{name}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- System Runtime -->
    <script>
{{library}}
    </script>
    <!-- system -->
    <script>
    runtime.on('ready', function ready() {
        // set the level of log
        this.require('logger').level('{{logLevel}}');
        // install and start the system
        this.install({{system}});
    });
    </script>
</body>

</html>