<!DOCTYPE html>
<html>

<head>
    <title>{{name}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- runtime -->
    <script>
    {{library}}
    </script>
    <!-- system -->
    <script>
    runtime.on('ready', function () {
        var systemId = runtime.require('db').system({{system}}); 
        var system = runtime.require(systemId);
        this.require('logger').level('debug');
        if (system.main) {
          system.main();    
        }
        if (system.start) {
          system.start();    
        }
    }, false, true);
    </script>
</body>

</html>