<div id="designer-behavior-{{_id}}" class="col-xs-offset-2 col-sm-offset-0 col-xs-8 col-sm-6 placeholder designer-behavior">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
            <div class="dropdown dropdown-menu-right">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a id="designer-behavior-{{_id}}-edit">Edit</a></li>
                    <li><a id="designer-behavior-{{_id}}-export" class="designer-behavior-menu-export">Export</a></li>
                    <li><a id="designer-behavior-{{_id}}-delete">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <pre class="language-javascript"><code class="language-javascript">{{content}}</code></pre>
        </div>
    </div>
</div>